{% extends 'basic.html' %}
{% block case_edit %}
    <div>
    <form  method="post">
        {% csrf_token %}
        <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">baseurl</label>
        {{ interface_form.base_url }}
    </div>
        <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">header</label>
        {{ interface_form.header }}
    </div>

        <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">api</label>
        {{ interface_form.url }}
    </div>
        <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">method</label>
        {{ interface_form.method }}
        </div>
        <div class="mb-3 row">
            {{ case_form.interf }}
    </div>
    <div class="mb-3 row">
        <label for="url" class="col-sm-3 col-form-label">用例名称</label>
        {{ case_form.case_name }}
    </div>

    <div class="mb-3 row">
        <label for="args_json" class="col-sm-3 col-form-label">参数</label>
        {{ case_form.args_json}}
    </div>
        <div class="mb-3 row">
        <label for="assertion" class="col-sm-3 col-form-label">验证点</label>
        {{ case_form.assertion }}
    </div>

    <div class="mb-3 row">
        <div class="col-sm-10 offset-sm-3">
            <button type="submit" class="btn btn-outline-primary">保 存</button>
        </div>
    </div>
    </form>
</div>
{% endblock %}