{% extends 'basic.html' %}

{% block case_add %}
    <div>
    <form action="/case/add/" method="post">
        {% csrf_token %}
    <div class="mb-3 row">
        <label for="url" class="col-sm-3 col-form-label">用例名称</label>
        {{ case_form.case_name }}
    </div>
    <div class="mb-3 row">
        <label for="url" class="col-sm-3 col-form-label">baseUrl</label>
        {{ case_form.base_url }}
    </div>
    <div class="mb-3 row">
        <label for="url" class="col-sm-3 col-form-label">url</label>
        {{ case_form.url }}
    </div>
    <div class="mb-3 row">
        <label for="method" class="col-sm-3 col-form-label">method</label>
        {{ case_form.method }}
    </div>
    <div class="mb-3 row">
        <label for="args_json" class="col-sm-3 col-form-label">参数</label>
        {{ case_form.args_json }}
    </div>
    <div class="mb-3 row">
        <div class="col-sm-10 offset-sm-3">
            <button type="submit" class="btn btn-outline-primary">添 加</button>
        </div>
    </div>
    </form>
</div>
{% endblock %}