{% extends 'basic.html' %}

{% block index %}
    <div>
        <form method="post" action="/index/">
            {% csrf_token %}
            <input type="text" placeholder="baseure" name="baseurl"/>
            <input type="text" placeholder="name" name="name"/>
            <input type="text" placeholder="url" name="url"/>
            <input type="text" placeholder="method" name="method"/>
            <input type="text" placeholder="args" name="args"/>
            <button type="submit" class="btn btn-primary" style="margin-top: 10px; margin-bottom: 10px;" href="/interface/add/">添加接口</button>
        </form>

    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>base url</th>
            <th>name</th>
            <th>url</th>
            <th>method</th>
            <th>args</th>
            <th>operate</th>
        </tr>
        </thead>
        <tbody>
        {% for ifs in if_list %}
            <tr>
            <td>{{ ifs.base_url }}</td>
            <td>{{ ifs.name }}</td>
            <td>{{ ifs.url }}</td>
            <td>{{ ifs.method }}</td>
            <td>{{ ifs.args }}</td>
            <td><a href="/if/edit/?if_id={{ ifs.id }}">编辑</a>
                <a href="/if/delete/?if_id={{ ifs.id }}">删除</a>
                <!--<a href="/case/add/?if_id={{ ifs.id }}">添加用例</a>-->
            </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
